@model IEnumerable<New_Timepass.Models.banner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.banner_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banner_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banner_text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.banner_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banner_image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banner_text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
